.certificate-wrapper {
  padding: 1rem 0;
  .certificate {
    position: relative;
    img {
      width: 60%;
    }
    .certificate-content{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      h3{
        margin-top: 15%;
        margin-left: 0%;
        font-weight: 600;
        color: rgb(6, 6, 132);
      }
      p{
        font-size: 18px;
        margin-top: 4.8%;
        margin-left: 10%;
        font-weight: 600;
        font-family: "Old Standard TT", serif;
      }
    }
  }


  @media(max-width:1200px){
    .certificate{
      h3{
        font-size: 20px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  @media(max-width:1024px){
    .certificate{
      .certificate-content{
         h3{
        font-size: 19px;
      }
      p{
        font-size: 12px;
      }
      }
     
    }
  }
  @media(max-width:940px){
    .certificate{
      .certificate-content{
         h3{
        font-size: 16px;
      }
      p{
        font-size: 10px;
      }
      }
     
    }
  }
  @media(max-width:768px){
    .certificate{
      .certificate-content{
         h3{
        font-size: 15px;
      }
      p{
        font-size: 10px;
      }
      }
     
    }
  }
  @media(max-width:480px){
    .certificate{
      img{
        width: 85%;
      }
      .certificate-content{
         h3{
          margin-top: 21%;
        font-size: 12px;
      }
      p{
        margin-top: 6%;
        margin-left: 15%;
        font-size: 8px;
      }
      }
     
    }
  }
  @media(max-width:320px){
    .certificate{
      img{
        width: 85%;
      }
      .certificate-content{
         h3{
        font-size: 9px;
      }
      p{
        font-size: 7px;
      }
      }
     
    }
  }

}