.header-inner {
    padding: 2rem 1rem;

    .main-title-result {
        font-size: 22px;
        font-weight: bold;
        color: green;
    }

    .subtitle-result {
        color: red;
    }


}

@media (max-width:1200px) {
    .header-inner {
        padding: 1rem 0.3rem;
        .main-title-result {
            font-size: 15px;
        }

        .subtitle-result {
            font-size: 20px;
        }
    }

}
